.product-card{
    width: 200px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    border-radius: 5px;
}

.product-image{
    width: 100%;
    height: 230px;
}

.product-title{
    font-size: 15px;
}

.product-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px){
    .product-card{
        width: 140px;
        height: 300px;
        margin: 5px;
        padding: 5px 5px;
    }

    .product-image{
        width: 100%;
        height: 150px;
    }
    .product-title{
        font-size: 13px;
    }
    .amount{
        font-size: 12px;
    }
}